@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}
.overall{
    display: flex;
    align-items: center;
    height: auto;
}
.logo{
    width: 700px;
    height: 730px;
    background-color: rgb(236, 237, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 400px;
    height: 400px;
}
.login{
    padding-left: 150px;
    padding-right: 0;
    font-family: poppins;
}
.login h1{
    padding-bottom: 10px;
}
.login p{
    color: gray;
    padding-bottom: 15px;
}
.login h2{
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-bottom: 10px;
}
.login input{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 10px;
}
.checkBox{
    display: flex;
    align-items: center;
    gap: 10px; 
} 
.checkBox input{
    width: 16px;
}
.checkBox p{
    padding-top: 10px;
}
.login button{
    width: 310px;
    height: 35px;
    background-color: rgb(23, 81, 195);
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}
.login span{
    color: rgb(23, 81, 195);
    font-weight: bold;
}